# Cześć!

Ten notebook przygotowaliśmy specjalnie dla Ciebie, żeby pokazać Ci jak może wyglądać przykładowa analiza danych z wykorzystaniem Pythona. **Narzędzie jest w pełni interaktywne, także śmiało moższ się bawić ** :) 

Na warsztat wzięliśmy dane dotyczące epidemii wirusa COVID-19.

Gdybyś chciał taki notebook zainstalować u siebie na komputerze, to poniżej znajdziesz poradnik jak to zrobić:

Zapraszamy też na naszą stronę: https://zostananalitykiemdanych.pl

Pozdrawiamy!

Piotr i Krzysztof

## Wczytywanie danych

Python może wczytywać dane z wielu różnych źródeł (plików, baz danych, serwerów www itp). Dlatego trzeba dobrać odpowiedna imetodę wczytywania do konkretnego źródła. Zaletą takiego podejścia jest to, że w Pythonie możemy łatwo łączyć ze sobą dane z wielu różnych miejsc.

W naszym przykładzie dane wczytany z pliku .csv dostępnego pod następującym adresem ur:

In [27]:
file_url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"

In [25]:
import pandas as pd 

data = pd.read_csv(file_url)
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81432,ZWE,Africa,Zimbabwe,2021-04-09,37147.0,95.0,34.857,1535.0,3.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
81433,ZWE,Africa,Zimbabwe,2021-04-10,37273.0,126.0,51.714,1538.0,3.0,2.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
81434,ZWE,Africa,Zimbabwe,2021-04-11,37288.0,15.0,52.143,1538.0,0.0,1.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
81435,ZWE,Africa,Zimbabwe,2021-04-12,37307.0,19.0,53.286,1542.0,4.0,2.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
81436,ZWE,Africa,Zimbabwe,2021-04-13,37330.0,23.0,52.000,1543.0,1.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81437 entries, 0 to 81436
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               81437 non-null  object
 1   continent                              77479 non-null  object
 2   location                               81437 non-null  object
 3   date                                   81437 non-null  object
 4   total_cases                            79689 non-null  float64
 5   new_cases                              79687 non-null  float64
 6   new_cases_smoothed                     78686 non-null  float64
 7   total_deaths                           70168 non-null  float64
 8   new_deaths                             70326 non-null  float64
 9   new_deaths_smoothed                    78686 non-null  float64
 10  total_cases_per_million                79257 non-null  float64
 11  new_cases_per_million                  79255 non-null  float64
 12  new_cases_smoothed_per_million         78259 non-null  float64
 13  total_deaths_per_million               69749 non-null  float64
 14  new_deaths_per_million                 69907 non-null  float64
 15  new_deaths_smoothed_per_million        78259 non-null  float64
 16  reproduction_rate                      65848 non-null  float64
 17  icu_patients                           8456 non-null   float64
 18  icu_patients_per_million               8456 non-null   float64
 19  hosp_patients                          10127 non-null  float64
 20  hosp_patients_per_million              10127 non-null  float64
 21  weekly_icu_admissions                  743 non-null    float64
 22  weekly_icu_admissions_per_million      743 non-null    float64
 23  weekly_hosp_admissions                 1240 non-null   float64
 24  weekly_hosp_admissions_per_million     1240 non-null   float64
 25  new_tests                              37291 non-null  float64
 26  total_tests                            37012 non-null  float64
 27  total_tests_per_thousand               37012 non-null  float64
 28  new_tests_per_thousand                 37291 non-null  float64
 29  new_tests_smoothed                     42644 non-null  float64
 30  new_tests_smoothed_per_thousand        42644 non-null  float64
 31  positive_rate                          41307 non-null  float64
 32  tests_per_case                         40689 non-null  float64
 33  tests_units                            44051 non-null  object
 34  total_vaccinations                     7313 non-null   float64
 35  people_vaccinated                      6636 non-null   float64
 36  people_fully_vaccinated                4759 non-null   float64
 37  new_vaccinations                       6182 non-null   float64
 38  new_vaccinations_smoothed              11750 non-null  float64
 39  total_vaccinations_per_hundred         7313 non-null   float64
 40  people_vaccinated_per_hundred          6636 non-null   float64
 41  people_fully_vaccinated_per_hundred    4759 non-null   float64
 42  new_vaccinations_smoothed_per_million  11750 non-null  float64
 43  stringency_index                       69577 non-null  float64
 44  population                             80934 non-null  float64
 45  population_density                     75881 non-null  float64
 46  median_age                             73524 non-null  float64
 47  aged_65_older                          72682 non-null  float64
 48  aged_70_older                          73111 non-null  float64
 49  gdp_per_capita                         73839 non-null  float64
 50  extreme_poverty                        50339 non-null  float64
 51  cardiovasc_death_rate                  74470 non-null  float64
 52  diabetes_prevalence                    75473 non-null  float64
 53  female_smokers                         58402 non-null  float64
 54  male_smokers                           57540 non-null  float64
 55  handwashing_facilities                 37392 non-null  float64
 56  hospital_beds_per_thousand             68013 non-null  float64
 57  life_expectancy                        77312 non-null  float64
 58  human_development_index                74368 non-null  float64
dtypes: float64(54), object(5)
memory usage: 36.7+ MB